.song-part {
    position: relative;
    height: 100vh;
    padding: 0 10%;

    &__pitches {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &__lyrics {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__pitches {
        height: 80%;
    }

    &__lyrics {
        justify-content: center;
    }

    &__activeLyrics,
    &__previewLyrics {
        display: flex;
        justify-content: center;
        flex-direction: row;

        >*:not(:first-child) {
            margin-left: 10px;
        }
    }
}