body {
  margin: 0;
  font-family: 'DIN Alternate';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  font-size: 30px;
  font-weight: 600;
  width: 400px;
}

button {
  width: 200px;
  height: 100px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: black;
}
